// main.scss

@import "./variables.scss";
@import './home.scss';
@import './products.scss';
@import "./components/sidebar.scss";
@import './components/headerbar.scss';
@import './components/card.scss';
@import './components/customTable.scss';

body {
  margin: 0px;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  width: 100vw;

  display: flex;
}

.page {
  flex-grow: 1;
  position: relative;
  margin-left: $sidebar-width;
}

.search-button {
  width: 100px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $primary;
  color: white;
  border-radius: 3px;
  cursor: pointer;
}